@import "tailwindcss";

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

* {
    box-sizing: border-box;
}

main {
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

main::-webkit-scrollbar {
    display: none;
}